<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>332225353282-6itd1dr09pctj7tr5mo309qkppkn5n75.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332225353282-6itd1dr09pctj7tr5mo309qkppkn5n75</string>
	<key>API_KEY</key>
	<string>AIzaSyC9k-ghA93W0ayRtxsuWK8s1whHq-8Z7N4</string>
	<key>GCM_SENDER_ID</key>
	<string>332225353282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>longtd.QRScanner</string>
	<key>PROJECT_ID</key>
	<string>qrscanner-958bb</string>
	<key>STORAGE_BUCKET</key>
	<string>qrscanner-958bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332225353282:ios:ec0b785e0814123a</string>
	<key>DATABASE_URL</key>
	<string>https://qrscanner-958bb.firebaseio.com</string>
</dict>
</plist>